.App {
  overflow-y: hidden;
}

.right_wrapper{
  width: 80%;
  /* outline:  1px solid red; */
  padding-right: 10px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}